body{
  background: rgb(206, 226, 235);
  background-color: #cccccc;
  
}

/* This is nav bar */
nav{
  background-color: rgb(149, 245, 245);
  border-radius: 12px;
}
.icon{
  width:40px;
  height:42px;
  text-align: left;
  
}
.left {
  display: inline-block;
  position: absolute;
  left: 24px;
  top: 35px;
}


.left div {
  line-height: 19px;
  font-size: 22px;
  text-align: center;
  /* font:italic ; */
}

.mid {
  /* font-family: 'Gochi Hand', cursive; */
  display: block;
  width: 49%;
  margin: 20px auto;
  /* border: 2px solid yellow; */
}

.right {
  font-family: 'Gochi Hand', cursive;
  position: absolute;
  /* border: 2px solid rgb(13, 243, 90); */
  display: inline-block;
  right: 34px;
  top: 38px;
}

.navbar {
  display: inline-block;
}

.navbar li {
  display: inline-block;
  font-size: 30px;

}

.navbar li a {
  color: rgb(104, 94, 238);
  text-decoration: none;
  padding: 32px 19px;

}

.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: red;
  text-decoration: none;

}

.btn {
  font-family: 'Gochi Hand', cursive;
  margin: 0px 9px;
  /* background-color: white; */
  /* font-size: 15px; */
  padding: 2px 14px;
  border-radius: 13px;
  cursor: pointer;

  background-color: rgb(66, 161, 224);
  color: #080808;
}

.btn:hover {
  background-color: rgb(38, 238, 248);
}

a:hover{
  color: orange;
  font-size: 20px;
}

/* Seach bar */
#search{
  /* border-color: brown; */
    display: inline;
    position:absolute;
}

.container{
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #df98b9;
  margin-top: 20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}
  .mySlides{
    border-image: round;
    border-radius: 75px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(29, 173, 125, 0.8);
  }
  
    
  /* The dots/bullets/indicators */
  .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* This is form */
  .contact{
    border: 2px solid black ;
    border-radius: 20px;
    width:auto;
    text-align: center;
    margin: 50px 0px 50px 0px;

  }
  
  input{
    border-radius: 15px;
    margin: 5px;
      
  }
  
  
  .lab{
    color: #9c0f0f;
  }
  

  footer{
    text-align: center;
  }